*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release/app-release.APK
app/release/output-metadata.json
app/2540_8046/release/app-2540_8046-release.apk
app/2540_8046/release/output-metadata.json
app/2560_8047/release/app-2560_8047-release.apk
app/2560_8047/release/output-metadata.json
app/2580_8048/release/app-2580_8048-release.apk
app/2580_8048/release/output-metadata.json
app/2600_8049/release/app-2600_8049-release.apk
app/2600_8049/release/output-metadata.json
app/2720_8051/release/app-2720_8051-release.apk
app/2720_8051/release/output-metadata.json
app/2740_8053/release/app-2740_8053-release.apk
app/2740_8053/release/output-metadata.json
app/2760_8054/release/app-2760_8054-release.apk
app/2760_8054/release/output-metadata.json
app/2780_8055/release/app-2780_8055-release.apk
app/2780_8055/release/output-metadata.json
app/2800_8056/release/app-2800_8056-release.apk
app/2800_8056/release/output-metadata.json
app/release/app-release.APK
app/release/app-release.apk.8056_2800.APK
app/release/output-metadata.json
app/release/app-release.APK
app/release/output-metadata.json
app/release/app-release.APK
